.navbar {
  margin: 0;
  padding: 0.6rem 1rem;
  background-color: #845EC2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.navbar img,a {
  width: 2.5rem;
}
.navbar-title {
  color: #FBEAFF;
}
