* {
  margin: 0;
  box-sizing: border-box;
}
.App, .birthday-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.App {
  padding: 10rem;
}